html, body {
  width: 100%;
  margin: 0;
  background-color: black;
  font-family: 'YuMincho','Yu Mincho',serif;
  color: white;
  scroll-behavior: smooth;
}

div#container {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
}

div#firstview {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div#first_logo {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div#first_logo h3 {
  padding: 0;
  font-weight: normal;
  letter-spacing: 4px;
}

div#contents {
  margin-top: 200px;
}

div.wrap {
  width: 80%;
  height: auto;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1370px) {
  div.wrap {
    width: 90%;
  }
}

h2 {
  font-size: 30px;
  letter-spacing: 10px;
}

p {
  letter-spacing: 4px;
}

a {
  color: white;
}

div#nav {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9999999;
}

div#nav ul {
  padding: 0;
  margin: 0;
}

div#nav ul li {
  display: inline-block;
  width: 200px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0px 10px;
}

div#nav ul li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

div#nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

div#nav p {
  font-size: 16px;
}

@media screen and (max-width: 1170px) {
  div#nav {
    top: 0;
    height: 300px;
  }
  div#nav ul li {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

div#secoundView {
  border-left: 2px solid white;
  padding-left: 30px;
  margin-top: 50px;
}

div#secoundView h2 + p {
  margin-top: 50px;
}

p#dish_img img {
  width: 100%;
}

p.article_title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;
  margin: 200px 0px;
  background-image: url("images/article_title.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position-x: 50%;
  height: 80px;
  text-align: center;
}

p#yokohama_img {
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: right;
}

p#yokohama_img img {
  width: 1000px;
}

div#yokohama {
  position: absolute;
  left: 0;
  z-index: 2;
  margin-top: 142px;
}

div#yokohama h2 + p {
  margin-top: 100px;
}

@media screen and (max-width: 1170px) {
  p#yokohama_img img {
    width: 100%;
  }
}

p#building_img {
  margin-top: 700px;
  position: absolute;
  z-index: 1;
  left: 0;
}

div#glass_transparent {
  margin-top: 900px;
  width: 700px;
  position: absolute;
  padding: 40px;
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  border: 4px solid white;
  right: 0;
  z-index: 2;
}

div#glass_transparent h2 + p {
  margin-top: 100px;
}

p#building_img img {
  width: 1000px;
}

@media screen and (max-width: 1170px) {
  p#building_img img {
    width: 100%;
  }
  div#glass_transparent {
    width: 90%;
    padding: 0% 5%;
    border: 0;
  }
}

p.small {
  margin-top: 70px;
  font-size: 12px;
}

div#article {
  width: 100%;
  height: auto;
  z-index: 3;
}

div#mobile {
  height: 1450px;
}

@media screen and (max-width: 1170px) {
  div#mobile {
    height: 1400px;
  }
}

div#howto_panel {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1170px) {
  div#howto_panel {
    width: 100%;
  }
}

div.panel {
  width: 300px;
  height: 300px;
  background-color: green;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  margin: 10px;
}

div.panel p {
  font-size: 14px;
}

div.panel_inner {
  width: 260px;
  height: 260px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0);
}

div.panel_inner:hover {
  background-color: rgba(0, 0, 0, 0.6);
  outline: 6px solid white;
  outline-offset: -6px;
  color: white;
}

div#grid_oya {
  display: -ms-grid;
  display: grid;
  margin: 50px 0px;
  -ms-grid-columns: 180px 180px 180px 180px 180px 180px 180px;
      grid-template-columns: 180px 180px 180px 180px 180px 180px 180px;
  -ms-grid-rows: 180px 180px;
      grid-template-rows: 180px 180px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#grid_oya img {
  width: 100%;
}

.center {
  text-align: center;
}

div#shop_detail {
  position: absolute;
  left: 0;
}

iframe {
  position: absolute;
  right: 0;
}

div#access {
  width: 1200px;
  height: 580px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  div#access {
    width: 100%;
    text-align: center;
    height: auto;
  }
  div#shop_detail {
    position: relative;
  }
  iframe {
    position: relative;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */